p {
	align-items: center;
}






/*********************/
/* alle heading */
/*********************/

section {
	display: grid;
	grid-template-rows: 1fr max-content max-content max-content;
	grid-template-columns: 1fr;
	width: 100%;
	height: auto;

}

section img {
	width: 100vw;
	height: auto;

	/*height: 65vh;
	object-fit: cover;*/

	z-index: 1;

	@media (min-width:38em) {
		img {
			width: 100vw;
			height: auto;
			object-fit: cover;
		}

		
	}

	main a{
		color: brown;
	}
	




	/*********************/
	/* tweede heading */
	/*********************/




	/*********************/
	/* derde heading */
	/*********************/

	/*********************/
	/* vierde heading */
	/*********************/
	





}