img {
	height: auto;
	width: 3em;
}

main button {
	border-radius: 5em;
	width: 10em;
	height: 3em;
}


main button:nth-child(1n) {
	background-color: #0071e3;
	border: none;
	color: white;
	order: 0;

}

main button:nth-child(2n) {
	background: transparent;
	border: .2em solid #0071e3;
	color: #0071e3;
	order: 0;

}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

main ul {
	display: flex;
	gap: 1em;
	overflow-x: scroll;

}

main ul img {
	height: 25em;
	width: auto;
}

p {
	align-items: center;
}