/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* witte modus */
	--color-text: #111;
	--color-text2: #fff;
	--color-background: #eee;
	--zwart: #000000;
	--color-grey: #F5F5F7;
	--color-blue: #0071e3;



	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 2em;
	text-align: center;

	--color-scheme: light dark;
	/* zwarte modus */
	--color-text: #111;
	--color-text2: #fff;
	--color-background2: black;
	--zwart: #000000;
	--color-grey: #F5F5F7;
	

	/* kerst thema */
	--color-kerst: red;


}



@media (prefers-color-scheme:dark) {
    nav {
        background-color: var(--color-background2);
    }

    nav ul {
        filter: invert(100%);
    }

    nav img {
        filter: invert(100%);
    }

    body {
        background-color: var(--color-background2);
    }

    h1 {
        color: var(--color-text2);
    }

    h3 {
        filter: invert(100%);
    }

    p {
        filter: invert(0%);
    }

    section:nth-of-type(1) img {
        filter:brightness(70%)
    }

    main section:nth-of-type(2) li a {
        color: var(--color-text2);
    }

    section:nth-of-type(3) li  {
       filter: invert();
    }
    section:nth-of-type(3) a  {
        filter: grayscale(100%);
     }

    section:nth-of-type(4) h2 {
        color: var(--color-text2);
    }
    section:nth-of-type(5), section:nth-of-type(8) ul {
        background-color: var(--color-background2);
    }
    section:nth-of-type(5), section:nth-of-type(6) li {
    filter: invert(100);
    }

    footer {
        filter: invert(100%);
    
    }



}



main {
    align-items: center;
}


/**************************/
/* eerste heading foto+h1 */
/**************************/

section h1 {
    grid-row-start: 2;
    grid-column: 1;
    font-size: 30pt;
    font-weight: 500;

}

main a {
    text-decoration: none;
    color: var(--color-text);
    position: relative;
}

main section:nth-of-type(1) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2em;
}

main section:nth-of-type(1) img {
    grid-row: 1;
    grid-column: 1;
    object-fit: cover;
    width: 100%;
    height: 35vh;
    z-index: 1;
}


/******************/
/* tweede heading */
/******************/

main section:nth-of-type(2) {
    display: grid;
    align-items: center;
}

/* hidden code van a11yproject: gezocht a11y hide content -> https://www.a11yproject.com/posts/how-to-hide-content/*/
main section:nth-of-type(2) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0.5em;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: .5em;
}

main section:nth-of-type(2) ul {
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(2,auto);
    gap: 3em;
    margin: 3rem 0;
}

main section:nth-of-type(2) ul li a {
display: flex;
flex-direction: column-reverse;
text-transform: capitalize;
align-items: center;
}

main section:nth-of-type(2) ul li a img {
    height: 5rem;
    width: auto;
    object-fit: cover;
}

    



/*********************/
/* a lijntje eronder */
/*********************/


main a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: .1em;
    background-color: var(--color-text);
    transition: width 0.3s;
}

main a:hover::after {
    width: 100%;

}

main li img {
    width: 8%;
    height: auto;
}



/******************/
/* derde heading */
/******************/
main section:nth-of-type(3) li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--color-grey);
    border-radius: 1em;
    box-shadow: .1em .1em 1em var(--color-grey);
    height: 10em;
}
/* gaat naar voren met hover */
main section:nth-of-type(3) li:hover {
 transform: scale(1.02);
 transition: .5s;

}

main section:nth-of-type(3) a {
    color: var(--color-blue);
}

main section:nth-of-type(3) ul {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section:nth-of-type(3) img {
    width: 100%;
    height: 50%;
    align-items: center;
}


/* hidden code van a11yproject: gezocht a11y hide content -> https://www.a11yproject.com/posts/how-to-hide-content/*/
main section:nth-of-type(3) h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0.5em;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: .5em;
}

/******************/
/* vierde heading */
/******************/
main section:nth-of-type(4) {
    margin-top: 6em;
    margin-bottom: 4em;
}
main section:nth-of-type(4) input {
    margin-top: 4em;
    width: 85%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .6em;
    border: solid var(--color-grey);
    padding-left: 2em;
    font-size: 14pt;
}

/******************/
/* vijfde heading */
/******************/



main section:nth-of-type(5) p {
    padding: 1em 3em 3em 3em;
}



main section:nth-of-type(5) a {
    background-color: var(--color-text);
    color: var(--color-text2);
    border-radius: 2em;
    padding: .5em;
    
}


main section:nth-of-type(5) img {
    width: 100%;
    height: 60%;
    padding-bottom: 2em;
}

main section:nth-of-type(5)  {
    background-color: var(--color-grey);
}

main section:nth-of-type(5) li  {
    background-color: var(--color-text2);
}

main section:nth-of-type(5) ul  {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
}

/******************/
/* zesde heading */
/******************/

main section:nth-of-type(6) {
    background-color: var(--color-grey);
    padding-top: 2em;
    padding-bottom: 2em;
}

main section:nth-of-type(6) li {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    background-color: var(--color-text2);
    border-radius: 1em;
}


main section:nth-of-type(6) {
    border-bottom: 2em;

}

main section:nth-of-type(6) a {
    color: var(--blue);
}

main section:nth-of-type(6) ul {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


main section:nth-of-type(6) img {
    width: 100%;
    height: 60%;
    transform: translateY(.8rem);
}

