/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* witte modus */
	--color-text: #111;
	--color-text2: #fff;
	--color-background: #eee;
	--zwart: #000000;
	--color-grey: #F5F5F7;
	--color-button: #0071e3;



	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 2em;
	text-align: center;

	--color-scheme: light dark;
	/* zwarte modus */
	--color-text: #111;
	--color-text2: #fff;
	--color-background: #111;
	--zwart: #000000;
	--color-grey: #F5F5F7;
	--color-button: darkblue;

	/* kerst thema */
	--color-kerst: red;


}


/******************/
/* voor transitie */
/******************/
body.down {
    overflow: hidden;
    opacity: 0;
    transform: translateY(2em);
    translate: 0 2em;
    transition:
        opacity 1s ease-in-out,
        transform 1s ease-in-out;
}

body.loaded {
    opacity: 1;
    transform: translateY(0);
    translate: 0 0;
    overflow: auto;
}

/******************/
/* voor thema's */
/******************/

*:has( :checked ){
    main {
        background-image: url("../images/sneeuw.gif");
        object-fit: cover;
        
        
    }
    
    nav>form:last-of-type {
        background-image: url("../images/sneeuw.gif");
        object-fit: cover;
        background-color: var(--wit);

    }
    nav {
        background-color: var(--color-kerst);
    }
     footer {
        background-color: var(--color-kerst);
    }
    a {
        filter: invert(100%);
    
    }
    main img {
        opacity: 40%;

    }
    main section {
        background-color: transparent;
    }



}
/*********/
/* video */
/*********/

video{
	width: 80vw;
	height: auto;
	cursor: pointer;
}

/************/
/* feedback */
/************/
